<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script async>
  if (getCookies().lightmode) {
    document.getElementById("darkmodeselector").innerHTML = `<i class="twa twa-moon"></i>`;
  } else {
    document.getElementById("darkmodeselector").innerHTML = `<i class="twa twa-sun"></i>`;
  }

  function darkSwitcher() {
    if (getCookies().lightmode) {
      createCookie({key: 'lightmode', value: false});
      document.querySelector('#darkmode').href = '/dark.css';
      document.getElementById('darkmodeselector').innerHTML = '<i class="twa twa-sun"></i>';
    } else {
      createCookie({key: 'lightmode', value: true});
      document.querySelector('#darkmode').href = '';
      document.getElementById('darkmodeselector').innerHTML = '<i class="twa twa-moon"></i>';
    }
  }

  $("body").find("*").each((item, element) => {
    var ogtext = $(element).text()
    var text = ogtext
    text = text.replace(/\:([a-z_\-])\:/, "$1").replace(":", "")
    text = text.replace("_", "-")
    $(element).html($(element).html().replace(/:((?:\w)+[^\s]):/gi, (a, b) => `<i class="twa twa-${b.replace(/_/, "-")}" data-tippy-content="${a}"></i>`))
  });
  tippy(document.querySelectorAll('.twa'), { delay: [ 500, 20 ], /*arrow: true, arrowType: "round"/**/ });
</script>